<html>
	<head>
		<title>Velocity Decorator - $title</title>
		<link href="$base/decorators/main.css" rel="stylesheet" type="text/css">
	    $head
	</head>
	
    <body>
      <div id="pageTitle">$title</div>
      <hr/>
      
      $body
      
      <div id="footer">
          <b>Disclaimer:</b> This site is an example site to demonstrate SiteMesh. It serves no other purpose.
      </div>
	</body>
</html>
