td, li, br, div, p
{
	font-family : verdana, arial, helvetica, sans-serif;
	font-size: 11px;
}

body
{
  margin:  0;
  padding:  0;
  color:  #333333;
  background-color: white;
  font-size: 11px;
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 19px;
}

TD.NavBarCell1
{
  font-size: 10px;
  font-family: Verdana, Sans-Serif;
  font-weight: bold;
  color: #666666;
  background-color: #99CCFF;
}

TD.NavBarCell1Rev
{
  font-family: Verdana, Sans-Serif;
  font-size: 11px;
  font-weight: bold;
  color: #dedede;
  background-color: #669900;
}

TR.TableHeadingColor
{
	background-color: #99CCFF;
}

HR
{
	size: 1;
	color: #000000;
	height: 1;
}

a
{
  text-decoration: none;
}

a:link
{
  color: #003366;
}
a:visited
{
  color: #cc6600;
}
a:active
{
  background-color: transparent;
  color: #cc6600;
}

li
{
	padding-bottom: 2pt;
}

h2
{
  color: #006699;
  margin-bottom: 10px;
  margin-top: 10px;
}

h3
{
  color: #006699;
}

h4
{
  font: 11px verdana, arial, helvetica, sans-serif;
  font-weight: bold;
  color: #cc6600;
}
h5, h6
{
  color: #032588;
}
